{% extends "chat/_CHATAPP.html" %}

{% block extraheader %}
  <link rel="stylesheet/less" type="text/css"
          href="/static/theme.less" />

  <link rel="stylesheet/less" type="text/css"
          href="/static/css/chatapp.less" />
{% endblock %}

{% block extrascript %}
  <script src="/static/js/lib/marked.js"></script>
  <!-- Application -->
  <script src="/static/js/chatapp/models.js"></script>
  <script src="/static/js/chatapp/chatwindow.js"></script>
  <script src="/static/js/chatapp/inputview.js"></script>
  <script src="/static/js/chatapp/views.js"></script>
  <script src="/static/js/chatapp/sidebar.js"></script>
  <script src="/static/js/chatapp/main.js"></script>
  <script>$(function() { window.app = new ChatApp(); });</script>
{% endblock %}

{% block content %}

<!-- App Info (TODO TEMP) -->
<div id="chatinfo" data-id="{{chat.id}}"></div>

<!-- App Attach Point (TODO TEMP) -->
<div id="attach"></div>

<!-- Chat View -->
<div class="chatView INVISIBLE_TEMPLATE">
  <!--<div class="row-fluid headerContainer">
    <h2 class="chatName">chatName</h2>
  </div>-->
  <div class="row-fluid topArea">
    <div class="chatSidebarContainer column span3">
      Loading...
    </div>

    <div class="chatWindowContainer column span9">
      Loading...
    </div>
  </div>

  <div class="inputContainer row-fluid">
    Loading...
  </div>
</div>
<!-- End Chat View -->

<!-- Sidebar -->
<div class="sidebarView INVISIBLE_TEMPLATE">
  Loading Sidebar...
</div>
<!-- End Sidebar -->

<!-- Sidebar Chat info-->
<div class="sidebarChatView INVISIBLE_TEMPLATE">
  <div class="name"></div>
</div>
<!-- End Sidebar Chat info-->

<!-- ChatWindow View -->
<div class="chatWindowView INVISIBLE_TEMPLATE">
  <h1 class="loading">Loading...</h1>
</div>
<!-- End ChatWindow View -->


<!-- Chatline View -->
<div class="chatlineView INVISIBLE_TEMPLATE">
  <strong class="name"></strong>
  <span class="text"></span>
</div>
<!-- End Chatline View -->


<!-- Input Box -->
<div class="inputView INVISIBLE_TEMPLATE">
  <div class="row-fluid">
    <form method="post" action="">
      <div class="span9">
        <!-- The application uses either the input or textarea -->
        <input type="text" name="input" 
               class="text INVISIBLE"
               placeholder="Chat...">
        <textarea name="textarea" 
                  class="textarea INVISIBLE span9"></textarea>
      </div>
      <div class="span3">
        <button type="submit" 
                class="btn btn-large btn-block btn-inverse">
            Submit 
            <!--<i class="icon-thumbs-up icon-white"></i>-->
        </button>
      </div>
    </form>
  </div>
</div>
<!-- End Input Box --> 

{% endblock %}

