{% extends "chat/_CHATAPP.html" %}

{% block extraheader %}
  <link rel="stylesheet/less" type="text/css"
          href="/static/theme.less" />

  <link rel="stylesheet/less" type="text/css"
          href="/static/css/chatapp.less" />
{% endblock %}

{% block extrascript %}
  <script src="/static/js/lib/marked.js"></script>
  <script src="/static/js/lib/jquery.ba-hashchange.js"></script>
  <!-- Application -->
  <script src="/static/js/chatapp/models.js"></script>
  <script src="/static/js/chatapp/chatwindow.js"></script>
  <script src="/static/js/chatapp/inputview.js"></script>
  <script src="/static/js/chatapp/sidebar.js"></script>
  <script src="/static/js/chatapp/main.js"></script>
  <script>$(function() { window.app = new ChatApp(); });</script>
{% endblock %}

{% block content %}

<!-- App Info (TODO TEMP) -->
<div id="chatinfo" data-id="{{chat.id}}"></div>

<!-- =================================
          *
          * MAIN APP VIEW 
          *
     ================================= -->

<div id="appView">
  
  <div class="row-fluid topArea">
    <div id="chatSidebarContainer" class="column span3">
      Loading...
    </div>

    <div id="chatWindowContainer" class="column span9">
      Loading...
    </div>

  </div>
  <div id="inputContainer" class="row-fluid">
    Loading...
  </div>
</div>


<!-- =================================
          *
          * SIDEBAR VIEWS
          *
     ================================= -->

<div class="sidebarView INVISIBLE_TEMPLATE">
  Loading Sidebar...
</div>

<div class="sidebarChatView INVISIBLE_TEMPLATE">
  <div class="name"></div>
</div>


<!-- =================================
          *
          * CHAT WINDOW VIEWS
          *
     ================================= -->

<div class="chatWindowView INVISIBLE_TEMPLATE">
  <h1 class="loading">Loading...</h1>
</div>

<div class="chatlineView INVISIBLE_TEMPLATE">
  <strong class="name"></strong>
  <span class="text"></span>
</div>


<!-- =================================
          *
          * INPUT VIEW
          *
     ================================= -->

<div class="inputView INVISIBLE_TEMPLATE">
  <div class="row-fluid">
    <form method="post" action="">
      <div class="span9">
        <!-- The application uses either the input or textarea -->
        <input type="text" name="input" 
               class="text INVISIBLE"
               placeholder="Chat...">
        <textarea name="textarea" 
                  class="textarea INVISIBLE span9"></textarea>
      </div>
      <div class="span3">
        <button type="submit" 
                class="btn btn-large btn-block btn-inverse">
            Submit 
            <!--<i class="icon-thumbs-up icon-white"></i>-->
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
